# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
import json
import requests 
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo.uk_food

In [4]:
# review the collections in our database
print(mongo.list_database_names())

['admin', 'classDB', 'config', 'curtomer_db', 'customers', 'epa', 'fruits_db', 'local', 'met', 'travel', 'uk_food']

In [5]:
# assign the collection to a variable
print(db.list_collection_names())
establishments = db.establishments

['establishments']

In [6]:
pprint(db.establishments.find_one())

{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('641fa3337ce8487213f84fda'),
 'geocode': {'latitude': 51.086058, 'longitude': 1.196408},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [7]:
# Find the establishments with a hygiene score of 20

query = {'scores.Hygiene': 20}

# Capture the results to a variable
results = db.establishments.find(query)

# Use count_documents to display the number of documents in the result


# Display the first document in the results using pprint
pprint(results[0])

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('641fa3347ce8487213f86b0f'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [8]:
# Convert the result to a Pandas DataFrame
aggregated_df = pd.json_normalize(results)


# Display the first 10 rows of the DataFrame
aggregated_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,641fa3347ce8487213f86e93,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,641fa3347ce8487213f8719a,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,641fa3347ce8487213f8738a,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,641fa3347ce8487213f87397,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,641fa3347ce8487213f87d38,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,641fa3347ce8487213f87f55,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,641fa3347ce8487213f89482,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,641fa3347ce8487213f898c5,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,641fa3357ce8487213f8a0da,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,641fa3357ce8487213f8a14a,267034,0,11/00102/MIXED,Longhouse,Restaurant/Cafe/Canteen,1,17 London Road,Riverhead,KENT,...,0.169685,51.284795,None,0001-01-01T00:00:00,0,None,0,0,0,0

In [9]:
aggregated_df['RatingValue'].unique()
#aggregated_df['BusinessName'].unique()

array([0, 1], dtype=int64)

In [10]:
# Display the number of rows in the DataFrame
len(aggregated_df.index)

40

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [11]:
# first of all: for field RatingValue; change the value to Integer, for all number values 

db.establishments.update_many({'RatingValue':{'$nin':['Pass','Awaiting Inspection','AwaitingInspection','Exempt','AwaitingPublication']}},[{'$set':{
                                "RatingValue" : {'$toInt':'$RatingValue'}
    
                              }    
                     }
    
                    ]    
                 )

In [12]:

# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

query = {'LocalAuthorityName': {'$regex': "London"},'RatingValue': {'$gte': 4}}

# Capture the results to a variable
results1 = list(db.establishments.find(query))

    
# Use count_documents to display the number of documents in the result
print(f'the number of documents found is {len(results1)}')

the number of documents found is 33

In [28]:
# Display the first document in the results using pprint
results1[0:1]

[{'_id': ObjectId('641fa3347ce8487213f88528'),
  'FHRSID': 621707,
  'ChangesByServerID': 0,
  'LocalAuthorityBusinessID': 'PI/000025307',
  'BusinessName': "Charlie's",
  'BusinessType': 'Other catering premises',
  'BusinessTypeID': 7841,
  'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
  'AddressLine2': 'Sheppy Kent',
  'AddressLine3': '',
  'AddressLine4': '',
  'PostCode': 'ME12',
  'Phone': '',
  'RatingValue': 4,
  'RatingKey': 'fhrs_4_en-gb',
  'RatingDate': '2021-10-18T00:00:00',
  'LocalAuthorityCode': '508',
  'LocalAuthorityName': 'City of London Corporation',
  'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
  'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
  'scores': {'Hygiene': 5, 'Structural': 10, 'ConfidenceInManagement': 5},
  'SchemeType': 'FHRS',
  'geocode': {'longitude': 0.508551, 'latitude': 51.369321},
  'RightToReply': '',
  'Distance': 4627.439467780196,
  'NewRatingPending': False,
  'meta': {'dataSource': None,
   'extractDate': '0001-01-01T00:00:00',
   'itemCount': 0,
   'returncode': None,
   'totalCount': 0,
   'totalPages': 0,
   'pageSize': 0,
   'pageNumber': 0},
  'links': [{'rel': 'self',
    'href': 'https://api.ratings.food.gov.uk/establishments/621707'}]}]

In [30]:
# Convert the result to a Pandas DataFrame
london_df = pd.json_normalize(results1)
london_df.head()

# Display the number of rows in the DataFrame
london_df.count()
# Display the first 10 rows of the DataFrame
london_df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,641fa3347ce8487213f88528,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,641fa3347ce8487213f8884e,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,641fa3347ce8487213f8939b,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,641fa3357ce8487213f8a19d,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,641fa3357ce8487213f8a19e,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,641fa3357ce8487213f8a8a6,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,641fa3357ce8487213f8c9b1,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,641fa3357ce8487213f8cd7b,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,641fa3357ce8487213f8cd94,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,641fa3357ce8487213f8cd96,295107,0,PI/000020749,City Bar & Grill,Restaurant/Cafe/Canteen,1,London City Airport (Airside),London,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [16]:
# print the info for the  "Penang Flavours" restaurant

query = {'BusinessName': "Penang Flavours"}

# Capture the results to a variable
results = establishments.find(query)

# Pretty print the results
for result in results:
    pprint(result)

{'AddressLine1': 'Penang Flavours',
 'AddressLine2': '146A Plumstead Rd',
 'AddressLine3': 'London',
 'AddressLine4': '',
 'BusinessName': 'Penang Flavours',
 'BusinessType': 'Restaurant/Cafe/Canteen',
 'BusinessTypeID': [1],
 'Distance': 4623.972328074718,
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': True,
 'Phone': '',
 'PostCode': 'SE18 7DY',
 'RatingValue': None,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('641fa710177c88f73c95907a'),
 'geocode': {'latitude': 51.490142, 'longitude': 0.08384},
 'scores': {'ConfidenceInManagement': '', 'Hygiene': '', 'Structural': ''}}

In [18]:
latitude*(1+degree_search)

52.00504342

In [19]:
latitude*(1-degree_search)

50.97524058

In [20]:
longitude*(1+degree_search)

0.0846784

In [21]:
longitude*(1-degree_search)

0.0830016

In [23]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude =  0.08384


# Find the rating value of '5' sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"

query = {'RatingValue': 5,'geocode.latitude': {'$gte': latitude*(1-degree_search),'$lte': latitude*(1+degree_search)},'geocode.longitude': {'$gte': longitude*(1-degree_search),'$lte': longitude*(1+degree_search)}}
fields = {'RatingValue': 1, 'BusinessName': 1,'geocode.latitude':1,'geocode.longitude':1}
sort = [('scores.Hygiene', 1)]

# Capture the results to a variable
results2 = list(db.establishments.find(query,fields).sort(sort))

    
# Use count_documents to display the number of documents in the result
print(f'the number of documents found is {len(results2)}')

# Print the results

the number of documents found is 84

In [25]:

# Convert the result to a Pandas DataFrame
rating5_df = pd.json_normalize(results2)

# Display the number of rows in the DataFrame
rating5_df.count()

_id                  84
BusinessName         84
RatingValue          84
geocode.longitude    84
geocode.latitude     84
dtype: int64

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [27]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match' : {'scores.Hygiene': 0}
              }
# 2. Groups the matches by Local Authority
group_query= {'$group': {'_id': {"local Authority": "$LocalAuthorityName"},
                        'count': { '$sum':1}
                        }
             }
# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count': -1}}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the first 10 results
pprint(results[0:10])
# Print the number of documents in the result
print(f'the number of documents found is {len(list(results))}')

[{'_id': {'local Authority': 'Thanet'}, 'count': 1130},
 {'_id': {'local Authority': 'Greenwich'}, 'count': 882},
 {'_id': {'local Authority': 'Maidstone'}, 'count': 713},
 {'_id': {'local Authority': 'Newham'}, 'count': 711},
 {'_id': {'local Authority': 'Swale'}, 'count': 686},
 {'_id': {'local Authority': 'Chelmsford'}, 'count': 680},
 {'_id': {'local Authority': 'Medway'}, 'count': 672},
 {'_id': {'local Authority': 'Bexley'}, 'count': 607},
 {'_id': {'local Authority': 'Southend-On-Sea'}, 'count': 586},
 {'_id': {'local Authority': 'Tendring'}, 'count': 542}]
the number of documents found is 55

In [28]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
hygiene_df.count()

count                  55
_id.local Authority    55
dtype: int64

In [29]:
# Display the first 10 rows of the DataFrame
hygiene_df.head(10)

   count _id.local Authority
0   1130              Thanet
1    882           Greenwich
2    713           Maidstone
3    711              Newham
4    686               Swale
5    680          Chelmsford
6    672              Medway
7    607              Bexley
8    586     Southend-On-Sea
9    542            Tendring